services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: ./backend
    env_file: .env
    depends_on:
      - db
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    restart: unless-stopped



  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro
    depends_on:
      - backend
    restart: unless-stopped

#хранилище БД
volumes:
  pg_data:

